@font-face {
    font-family: 'Arvo', serif;
}
@font-face{
	font-family: 'Muli', sans-serif;
}

body{
	background-color: #ffffff;
	margin:0px;
	font-size: 20px;
	background:url(images/201.png) center;
}
footer{
	background:url(images/grass-footer.png) center bottom;
	height:180px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	margin-top: -60px;
	padding-bottom: 0px;
	margin-bottom: 0px;

}
nav{
    display: flex; 
    margin:0px auto;   
}

nav a{
    text-decoration: none;
    color:#ffffff;
    padding:15px;
	display:inline-block;
	text-decoration: none;
}
.navbar{
	background-color: #000000;
	font-family: 'Arvo';
	font-size: 30px;
	height:75px;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index: 1000;

}

.logo{
	color:#ffffff;
	padding:15px;
	margin-right: 275px;
	font-weight:700;
	font-size:30px;
	padding-right: 400px;
	font-family: 'Arvo';
	display:flex;
}
.logo:hover{
	color: #25B02B;
}
.active{
	background-color:#25B02B;
	color:#000000;
	height:45px;

}

section{
    height: 1500px;
}

.home{
	height: 945px;
}
.rotator {
    width: 100%;
    height:850px;
}

.white{
	color:#ffffff;
	text-decoration: none;
}
.bottom:hover{
	color:#25B02B;
}

h1{
font-size: 150px;
font-family:'Arvo';
}

.title{
	font-family:'Arvo';
	margin-top:300px;
	text-align: center;
	color:#ffffff;	
	text-shadow:10px 10px 10px #000000;
}
.title:hover{
	color:#25B02B;
}
.address{
	font-family:'Arvo';
	color:#ffffff;
	text-shadow:-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-size:50px;
	text-align: center;
	margin-top: -100px;

}

.address:hover{
	color:#25B02B;
}

.hours{
	font-family:'Arvo';
	color:#ffffff;
	font-weight: bold;
	font-size:35;
	text-align: center;
	margin-top: 279px;
	text-shadow:10px 10px 10px #000000;
	background: rgba(0,0,0,.5);

}

.hours:hover{
	color:#25B02B;
}
.menu{
	color:#25B02B;
	margin-top: 100px;
	text-align: center;

}

.smalltext{
	font-family:'Arvo';
	font-size:40px;
	margin-top:-100px;
	text-align: center;
}
.hover:hover{
	color: #25B02B;
}
.arrangement{
	text-align: center;
}
.inside{
	margin-left: 200px;
	text-align: center;
}
.starters{
	font-family:'Arvo';
	color:##25B02B;
	font-size: 40px;
	padding:5px;
	display:flex;
	flex-direction: column;
	margin-right:315px;
}

.price{
	margin right:45px;
}
.underline{
	text-decoration: underline;
	text-align: center;

}
.side{
	display:flex;
	width:150px;
}
.lobster{
	padding:10px;
	margin:15px;
	color:#25B02B;
	font-size: 25px;
	font-family:'Arvo';
	text-align: center;	

}


.description{
	font-size:15px;
	color:#000000;
	font-family:'Muli';
	width:250;

}

.story{
	color:#25B02B;
	margin-top: 150px;
	text-align: center;

}
.contact{
	color:#25B02B;
	margin-top: 250px;
	text-align: center;
}

.storefront{
	margin-top:-100px;
	margin-left: 200px;
	margin-right: 200px;
	display:flex;
	font-family:'Muli';
	padding:10px;
}
.polaroidimage{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
       position:relative;
}

.space{
	 padding:10px;
}
.testimonials{
	font-family: 'Arvo';
	font-size:50px;
	color:#25B02B;
	font-weight: bold;
	text-align: center;
}

.text{
	font-family:'Muli';
	width:350px;
	margin-left: 100px;
	font-size: 22px;
	font-style:italic;
}
.people{
	margin-left: 570px;
	margin-top: -225px;
}
.texttwo{
	font-family:'Muli';
	width:350px;
	margin-left: 950px;
	font-size: 22px;
	margin-top: -230px;
	font-style: italic;
}
.reservation{
	text-decoration: none;
	color:#ffffff;
}


.bottom{
	font-family:'Arvo';
	font-weight: bold;
	margin-top: 120px;
	color:#ffffff;
	display:flex;
	justify-content: space-around; 
	padding:15px;
	font-size: 30px;
	text-decoration: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.socialmedia{
	margin-left:100px;
	margin-top: 60px;
}
.facebook{
	margin-top:-80px;
	margin-left: 100px;
}
.yelp{
	margin-top: -100px;
}
.jefferson{
	margin top:-300px;
	margin-left: 100px;
}
.opentable{
	margin-top:-60px;
}


h2{
	font-family: 'Arvo';
	font-size:35px;
	color:#000000;
	text-align: center;
	margin-top:-75px;
}

.location{
	display:flex;
	flex-direction: column;
}

.contactaddress{
	color:#25B02B;
	font-family:'Muli';
	font-size:25px;
	margin-left: 400px;
	width:650px;
	padding: 15px;
	margin-bottom: 60px;


}
.map{
	color:#25B02B;
	font-family:'Muli';
	font-size:25px;
	width:515px;
	padding:10px;
	margin-left: 450px;
	margin:center;
	margin-top: -35px;
	
}

.underline{
	text-decoration: underline;
}

.map:hover{
	color:#000000;
}
.contactaddress:hover{
	color:#000000;
}

.rotatortwo {
    width: 800px;
    height:500px;
    margin-left: 200px;
    margin-top:10px;
}













